@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background: #eaeaea;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
}

input {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

input:active, 
input:focus {
    outline: none;
}

.btn {
    height: 50px;
    box-sizing: border-box;
    padding: .5em;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: .8em;
    font-size: 1.2em;
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.btn:active {
    background-color: rgba(0, 0, 0, 0.18);
}

.message {
    margin: 0;
    font-size: .7em;
    color: orange;
}
